@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
    background-color: #2a303b;
    color: azure;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

#demo {
    border: rgb(105, 127, 206);
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
    color: rgb(199, 159, 222);
    
}

.ticketsCounter{
    display: inline-block;
    align-items: center;
}

button {
    background-color:rgb(199, 159, 222);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    font-size: 50px;
}

button:hover {
    background-color: rgb(151, 120, 169);
}

.minus {
    padding-left: 20px;
    padding-right: 20px;
}



img {
    width:350px;
    border-radius: 25px;
    padding-top:100px;
    border-top-left-radius: 25px;
}

.OctoPlush {
    color: rgb(105, 127, 206);
}

.Keyboard {
    color: rgb(105, 127, 206);
}

.Wacom {
    color:rgb(199, 159, 222);
}

.FrameworkSeconds {
    color:rgb(199, 159, 222);
}

.Backpack {
    color:rgb(222, 159, 216);
}

.Framework13Inch {
    color:rgb(222, 159, 216);
}

.Quest3 {
    color:rgb(228, 221, 236);
}

.ticketsCounter{
    display: flex;
    padding-left: 5000px;
    padding-right: 5000px;

}

.ticketsCounter div {
    margin: 10px;
    padding: 10px;
}

.top{
    display: flex;
}

.top div {
    margin: 10px;
    padding: 10px;
}

.ticket {
    background-color: rgb(105, 127, 206);
    font-size: 40px;
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
    display:flex;
}

.bottom {
    display: flex;
}

.bottom div {
    margin: 10px;
    padding: 10px;
}

.topBars {
    display:flex;
}

.topBars div {
    margin: 10px;
    padding: 10px;
}

.bottomBars {
    display:flex;
}

.Bars div {
    margin: 10px;
    padding: 10px;
}

